@import (less) "../../bower_components/normalize.css/normalize.css";

@unit: 20px;
@sidebar: 200px;
@wrapper: 700px;
@fluid-width: 980px;

@background: #F2F3F3;
@foreground: #152042;
@primary: #E84456;
@secondary: #D8DADB;

body {
  color: @foreground;
  background-color: @background;
  font-family: "Fira Mono", monospace;
  font-size: 14px;
  line-height: 1.5;
}

a {
  color: @primary;
  &:hover {
    color: @foreground;
  }
}

hr {
  margin: ( @unit * 1.5 ) 0;
  padding: 0;
  border: 1px solid mix(@background, @foreground, 75%);
  &.mini {
    width: ( @unit * 2 );
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: @foreground none 50% 100% no-repeat;
  background-size: cover;
  width: @sidebar;
  padding: @unit;
  color: mix(@foreground, @secondary, 25%);
  .logo {
    color: @primary;
    font-weight: 300;
    font-size: 38px;
    a {
      text-decoration: none;
    }
  }
  a:hover {
    color: @background;
  }
  hr {
    border-color: mix(@background, @foreground, 25%);
  }
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0 0 ( @unit / 4 ) 0;
      padding: 0;
      a {
        text-decoration: none;
        text-transform: uppercase;
        &.active {
          color: @background;
        }
      }
    }
  }
}

.wrapper {
  padding: @unit;
  padding-left: ( @sidebar + ( @unit * 3 ) );
  width: @wrapper;
}

#content {
  margin-top: @unit;
  .date {
    color: mix(@background, @foreground, 25%);
    margin-bottom: ( @unit * 1.5 );
  }
  h1, h2, h3, h4 {
    font-weight: normal;
  }
  blockquote {
    margin-left: 0;
    font-size: 18px;
    padding-left: @unit;
    color: mix(@background, @foreground, 10%);
    border-left: 4px solid mix(@background, @foreground, 75%);
  }
  img {
    max-width: 100%;
  }
}

.pagination {
  color: mix(@background, @foreground, 50%);
}

@media screen and (max-width: @fluid-width) {
  #header {
    position: relative;
    width: auto;
    .logo {
      margin-top: 0;
    }
    .nav {
      clear: both;
      overflow: hidden;
      li {
        float: left;
        margin-right: @unit;
      }
    }
  }
  .wrapper {
    width: auto;
    padding-left: @unit;
  }
}
