<!DOCTYPE html>
<html>
<head>

  <title>{{ page.title }}</title>

  <link href="/dist/styles/vendor.css" rel="stylesheet">
  <link href="/dist/fonts/fonts.css" rel="stylesheet">
  <link href="/dist/styles/master.css" rel="stylesheet">

</head>
<body>

  <header>
    <h1 class="logo">Nebulae</h1>
    <p>A procedural survival 2d space exploration game.</p>
    <p>Coming to iOS 2015.</p>
  </header>

  <div class="wrapper">
    {{ content }}
  </div>

  <footer class="wrapper">
    Made by <a href="http://johnmart.in/" target="_blank">John Martin</a>
  </footer>

  <script src="/dist/scripts/vendor.js"></script>
  <script src="/dist/scripts/me.js"></script>

</body>
</html>
